/* Banner principal */

.slider-item{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* destaque */

.destaque {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.destaque_conteudo {
    display: flex;
    gap: 50px;
    align-items: flex-end;
}

.destaque_conteudo img {
    padding-left: 25px;
    max-width: 650px;
    width: 100%;
}

.destaque_conteudo h2 {
    font-family: var(--font1);
    height: 190px;
    font-size: 40px;
    text-transform: uppercase;

}

.destaque p {
    font-family: var(--font1);
    color: var(--branco);
    font-size: 18px;
    padding-right: 40px;
}

/* comentarios */

.comentarios {
    display: flex;
    background-color: #FBC02C;
    width: auto;
    height: 670px;
    flex-direction: column;
    padding: 0px 10px 10px;
    margin-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.container_conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarelo);

}

.container img {
    max-width: 150px;
    width: 50%;
    background-color: var(--amarelo);
}

.container_conteudo div {
    font-family: var(--font1);
    text-align: center;
    background-color: var(--amarelo);
}

.container h3 {
    color: var(--preto);
    font-weight: 200;
    font-size: 48px;
    line-height: 52px;
    background-color: var(--amarelo);
}

.container p {
    color: var(--preto);
    font-style: italic;
    font-size: 25px;
    line-height: 45px;
    background-color: var(--amarelo);
}

/* texto */

h2,
h3 {
    font-family: var(--font1);
    color: var(--amarelo);
    text-align: center;
}

h2 {
    margin-top: 12%;
    font-size: 50px;
    height: 90px;
}

h3 {
    color: var(--amarelo);
    font-size: 20px;
    margin-top: 20px;
}

span {

    color: var(--amarelo);
    font-size: 25px;
    text-align: center;
}

/*  RESPONSIVO */
@media screen and ( max-width: 1440px) {
    .banner_texto > p,img, span{
        text-decoration: none
    }
}

@media screen and (max-width: 1200px) {
    .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }
    .banner_img {
        display: none;    
    }

    .banner_texto {
        width: 60%;
    }

    .destaque {
        display: none;
    }

    .container_conteudo {
        flex-direction: column;
    }

    .comentarios {
        margin-top: 10%;
        height: auto;
    }

    /* .responsivo{
        display: none;
    } */
}

@media screen and (max-width: 895px) {
    .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    button[type="submit"]{
        display: none;
    }

    .banner_img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    #divBusca {
        display: none;
    }

    header nav{
        width: 260px;
    }

    h2{
        font-size: 35px;
        height: 100px;
    }

    .container{
        margin-top: 40px;
    }

}

@media screen and (max-width: 500px) {
    .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    .container h3{
        font-size: 40px;
    }

    .container p{
        font-size: 20px;
    }

    ul{
        display: none;
    }

    .input-submit{
        margin-left: 38%;
        font-size: 13px;
        width: 25%;
    }
}