

.sidebar{
    position: fixed;
    /* top: 0; */
    display: flex;
    flex-direction: column;
    width: 166px;
    height: 100%;
    padding: 20px 20px 10px 5px;
    border-right: 1px solid #FBC02C;
}
.sidebar button{
    background-color: transparent;
    border: 0;
    padding: 0;
}

main{
   width: 70%;
   margin-left: 234px;
}



.newPost{
    background-color: var(--branco);
    width: 100%;
    height: 180px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 17px 13px;
    border: 2px solid var(--amarelo);
    border-radius: 3px;
    height: 211px;
}

div.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
}

div.newPost div.infoUser img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background-color: #333; */
    background-color: var(--branco);
}

div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--branco);
}

div.newPost form.formPost textarea{
    background-color: var(--branco);
    padding: 20px;
    margin: 15px 5px;
    border: transparent;
    resize: none;
    outline: none;
    font-family: var(--font1);
    /* font-weight: bold; */
    color: black;
}

.iconsUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    background-color: var(--branco);
}

.icons{
    margin-top: 7px;
}

.btnFileForm{
    outline: none;
    background: transparent;
    border: transparent;
    /*margin-right: 15px; */
    cursor: pointer;    
}
.btnFileForm img {
    width: 20px;   
    background-color: var(--branco);
}

.posts{
    /* margin-bottom: 200px; */
    background-color: var(--branco);
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.actionBtnPost{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
}

.filesPost{
    display: flex;
    align-items: center;
    width: 282px;
    justify-content: center;
    background-color: var(--cor1);
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.infoUserPost{
    display: flex;
    align-items: center;
    background-color: var(--branco);
}

.infoUserPost img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: var(--branco);
}

.imgUserPost img {
    background-color: var(--branco);   
}
div.imgUserPost{
    background-color: transparent;
}

p{
    margin-bottom: 10px;
    font-family: var(--font1);
    font-size: 13px;
}

.textoPost{
    font-size: 18px;
    text-align: left;
}

.filesPost span{
    background-color: var(--amarelo);
}

.textoComments{
    font-size: 16px;
}

.nameAndHour strong{
    font-family: var(--font1);
    color: black;
    background-color: var(--branco);
    
}

.balanoalvo{
    margin-bottom: 15px;
}

.imgUserComments{
    margin: 5px 10px 0px 0px;
}

.infoUserComments{
    display: flex;
    align-items: center;
}

.actionBtnComments{
    display: flex;
    
}

.filesPostComment{
    border: none;
    background: transparent;
    margin-right: 5px;
    cursor: pointer;
}



/* footer */


.img-footer {
    margin-top: 200px;
    width: 100%;
    background-size: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.67%, #000000 100%), url(cinema_foto_pexels.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
}

.uldafooter {
    color: var(--cor1);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: var(--font1);
} 

footer>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-top: 20px;
} 
.paragrafoFooter{
    margin-top: 10px;
    color: var(--cor1);
    text-align: center;
}

footer>div>img {
    width: 20px;
    height: 27px;
} 
footer>div>span{
    color: var(--cor1);
    background-color: var(--branco)
 } 

 .footer1{
    display: flex;
    align-items: center;
 }  

 .img-copy{
    margin: 5px;
 }
 footer{
    margin-left: 200px;
 }





/* Perfil ajustes */


section {
    margin-top: 50px;
    display: flex;
    width: 100%;
    background-color: var(--branco);
    padding: 17px 13px;
    background: var(--branco);
    border: 2px solid var(--cor1);
    border-radius: 3px;
   /* background-image: url(./img/perfilcapa.jpg);*/
}

section div {
    background-color: var(--branco);
    border-radius: 5px;
}

.imagem1 {
    width: 100%;
    height: 240px;
    border-radius: 3px;
}

.entre_imagens {
    width: 140px;
    display: flex;
    position: absolute;
    margin: 2px 50px 79px;
    background-color: transparent;

}

.tam {
    width: 20px;
    padding: 2px;
    background-color: var(--branco);
}

.posicionamento_perfil {
    display: flex;
    align-items: center;

}

.posicionamento_perfil span {
    padding-left: 200px;
    font-size: 32px;
    font-family: var(--font2);
    font-weight: 600;
    background-color:  var(--branco);

}






.posicionamento_perfil button {
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: var(--amarelo);
    border-radius: 10px;
    justify-content: end;
    font-family: var(--font2);
    font-weight: 600;
    border: 10px;
    font-size: 16px;
    /* margin-left: 600px;*/
    /* margin-left: 600px;*/
    /*margin-left: 520px;*/
}

.estrutura {
    width: 100%;
    background-color: white;
    
}

.icons img {
    width: 20px;
    margin: 7px;
    background-color: var(--branco);
}

.icons {
    display: flex;
    align-items: center;
    font-family: var(--font2);
    background-color: var(--branco);
    
}
.icons img{
    width: 20px;
}

span.spancolor{
    background-color: var(--branco);
}

.text p{
    font-family: var(--font2);
    display: flex;
    padding: 41px 60px 0;
    font-weight: 600;
    font-size: 15px;
    background-color: var(--branco);
}

nav .imagem_logado{
    width: 30px;
}
.colorir_texto_filmes{
    color: var(--vermelho);
    font-weight: 600;
    font-family: var(--font1);
    text-decoration: underline;
}

.nameAndHour{
 line-height: 12px;
 background-color: var(--branco);
 text-align: left;
}


.actionBtnPost{
 display: flex;

}
.filesPost{
    width: 274px;
    height: 44px;
    gap: 20px;
    font-family: var(--font1);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    background-color: var(--amarelo);
}
.filesPost img{
    width: 25px;
    background-color: var(--amarelo);
}


/* classificaçao */

.classificacao{
    color: var(--preto);
    font-family: var(--font2);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--preto);
    padding: 58px 5px;
    border-radius: 0%;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 45px;
}
.series{
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 10px
}
.filmes{
    background-color: var(--amarelo);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
    border-radius: 10px

}
.comlinha{
    border-bottom: 3px solid black;
    font-weight: bolder;
    font-size: 17px;   
    background-color: var(--amarelo);
    border-radius: 5px;
}
.tam2{
    font-size: 25px;
    background-color: var(--amarelo);

}

/* footer */


.img-footer {
    
    width: 100%;
    background-size: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.67%, #000000 100%), url(cinema_foto_pexels.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.46);
}


ul {
    display: flex;
    justify-content: space-evenly;
    
    font-family: var(--font1);

    position:relative;
    top:0;
    transition: all .1s ease-in-out;
}

ul>a {
}

ul>a:hover{
    color: var(--branco);
}


footer>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--branco);
    margin-top: 20px;
}

footer>div>span,p {
    margin-top: 10px;
    background-color: var(--branco);
    text-align: left;
    
}

.nameAndHour p{
    text-align: left;
}


footer>div>img {
    width: 20px;
    height: 27px;
}
.modific_footer a{
    color: var(--amarelo);
   
}
.modific_footer p{
    color: var(--amarelo);  
}
.modific_footer img{
    width: 100px;
    display: flex;
    margin-left: 30px;
}

.modific_footer {
    align-items: center;
    
}
.botao_do_perfil{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.carregamento {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   /*avaliar*/
}



/* responsividade */



@media screen and (max-width: 1200px){

    /*.posicionamento_perfil button{
        margin-left: 500px;
    } */
    .filesPost {
        margin: 5px;
    }

}

@media screen and (max-width: 1032px){

    /*.posicionamento_perfil button{
        margin-left: 500px;
    } */
    bottum[type="submit"]{
        display: none;
        }
    
        #divBusca{
            display: none;
    
        }

        .filmes {
            text-align: center;
        }
        
        .series {
            text-align: center;
        }
        

}
@media screen and (max-width: 859px){

    .filmes {
        text-align: center;
    }
    
    .series {
        text-align: center;
    }
    

}





@media screen and (max-width: 793px){

    .entre_imagens {
        width: 122px;
        margin: 8px 5px 86px;
    }

    .posicionamento_perfil span {
        padding-left: 117px
    }
  

    .tam {
        display: none;
        
    }

    .filesPost span{
        display: none;
        }
    

       
        .posicionamento_perfil span {
            padding-left: 142px;
            font-size: 22px;
        }


        .filmes {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            margin: 20px;
            
        }
        .series {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            margin: 20px;

        }

      .classificacao{
        flex-direction: column;
        align-items: center;
      }

      
  .carregamento img {
    width: 150px;
   }

   .menu_barras{
    display: initial;
}


}



@media screen and (max-width: 600px){

    nav button span .textomenu{
        display: none;
    }

    .sidebar{
        width: 45px;
    }

    main{
        width: 75%;
        margin-left: 100px;
    }

    .navSidebar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entre_imagens {
       display: none;
    }

    .posicionamento_perfil span {
        padding-left: 19px;
        font-size: 26px;
    }

    .posicionamento_perfil span {
        padding-left: 19px;
        font-size: 26px;
    }

}
@media screen and (max-width: 750px){

    section{
        width: 99%;
    }

    .imagem1 {
        height: 140px;
    }


}

   /* BOTAO */
@media screen and (max-width: 792px){

    .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    .menu_barras {
        display: initial;
    }

    .menu_barras svg {
        height: 50px;
        fill: var(--branco);
    }

    .posicionamento_header {
        position: relative;
    }

    .posicionamento_header nav {
        display: none;
        position: absolute;
        right: 0;
        top: 80px;
        background-color: #060821c3;
        flex-direction: column;
        z-index: 1;
        padding: 5%;
        backdrop-filter: blur(10px);
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.8);
    }

    header nav a {
        margin: 30px 0;
        font-size: 22px;
    }

    .banner {
        height: 773px;
    }

    .destaque {
        display: none;
    }

    .container_conteudo {
        flex-direction: column;
    }

    .comentarios {
        margin-top: 10%;
        height: auto;
    }

    .responsivo{
        display: none;
    }

    
}



@media screen and (max-width: 895px) {
    .servicos>div>div:nth-child(2) {
        margin-top: 100px;
    }

    button[type="submit"]{
        display: none;
    }

    .banner_img {
        display: none;
    }



}




@media screen and (max-width: 509px){

    
    
    .posicionamento_header nav {
    
        width: 85%;

}

}
@media screen and (max-width: 353px){

    
    
    div.newPost form.formPost textarea {
        width: 55%;
    }

}
@media screen and (max-width: 420px){

    .icons {
        display: inherit;
        
    }

    .entre_imagens {
     display: none;
    }
    

    .posicionamento_perfil button {
        width: 70px;
        height: 50px;
    }

    .imagem1 {
        height: 112px;
    }

 
}
@media screen and (max-width: 946px){


 
}